LOCALSTACK_AUTH_TOKEN=ab-cdefghij-1234-abcd-defg-abcdefghijkl
PORT=4000
DATABASE_URL=postgresql://admin:admin@localhost:5432/jungle_gaming_db?sslmode=disable
SQS_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions.fifo
OUTBOX_QUEUE_URL=http://localhost:4566/000000000000/wager-events-outbox.fifo
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test